<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Halaman Utama </title>
    <!--jquery, ajax, and bootstrap.js-->
    <head th:fragment="js">
        <!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>-->
        <!--        <script src="https://code.jquery.com/jquery-3.4.1.min.js"-->
        <!--                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="-->
        <!--                crossorigin="anonymous"></script>-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <!--bootstrap.css-->
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-dark">
        <a th:text="SIPAYROLL" class="navbar-brand font-weight-bold text-light" th:href="@{/}"></a>
        <button class="navbar-toggler" type="button"  role="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navbar-item"><a type="submit" class="nav-link text-light">  </a></li>
                <li class="nav-item"><a type="submit" class="nav-link text-light">  </a></li>
                <li class="nav-item"><a type="submit" class="nav-link text-light">  </a></li>
            </ul>
            <ul class="navbar-nav">
                <a th:text="${pagetitle}"></a>
            </ul>
            <ul class="navbar-nav pull-right">
                <a class="nav-item nav-link active" th:href="@{/logout}">Logout</a>
            </ul>
        </div>
    </nav>
    <footer th:fragment="footer" class="container-fluid justify-content-center card-footer bg-dark">
        <div><p class="text-center text-light" th:text="'Last accessed on ' + ${#temporals.format(dateTime, 'dd-MM-yyyy HH:mm:ss')}"></p></div>
        <div><p class="text-center text-light">Made with Love by</p><br>
            <p class="text-center text-light">Hamam Abdurrachman</p>
            <p class="text-center text-light">Hanna Jannatunna'iim</p>
            <p class="text-center text-light">Karin Patricia</p>
            <p class="text-center text-light">Muhammad Marandi Millendila Efendi</p>
            <p class="text-center text-light">Syanne Limarwan</p>
        </div>
    </footer>
</body>
</html>