<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Pilot</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container pm p-5 text-center position-relative min-vh-100">
        <div class="shadow m-auto bg-white rounded w-50">
            <div class="card-header bg-dark m-auto text-light p-0">Tambah Pilot</div>
            <div class="card-body m-auto pl-2 pr-2 text-left">
                <form th:action="@{/pilot/tambah}" th:object="${pilot}" method="POST">
                    Nama <br>
                    <input type="text" class="form-control" name="namaPilot" required/>
                    <br>
                    NIK <br>
                    <input type="text" class="form-control" name="nik" required/>
                    <br>
                    Tempat Lahir <br>
                    <input type="text" class="form-control" name="tempatLahir" required/>
                    <br>
                    Tanggal Lahir <br>
                    <input type="date" class="form-control" name="tanggalLahir" required/>
                    <br>
                    Jenis Kelamin <br>
                    <select name="jenisKelamin" class="form-control">
                        <option selected disabled>Jenis Kelamin</option>
                        <option value="1"> Laki-laki </option>
                        <option value="2"> Perempuan </option>
                    </select>
                    <br>
                    Sekolah <br>
                    <select name="akademi" class="form-control">
                        <option selected disabled>Nama Sekolah</option>
                        <option th:each="akademi, iterationStatus : ${listAkademi}" th:text="${akademi.namaAkademi}" th:value="${akademi.id}"></option>
                    </select>
                    <br>
                    Maskapai <br>
                    <select name="maskapai" class="form-control">
                        <option selected disabled>Nama Maskapai</option>
                        <option th:each="maskapai, iterationStatus : ${listMaskapai}" th:text="${maskapai.namaMaskapai}" th:value="${maskapai.id}"></option>
                    </select>
                    <br><br><br><br>
                    <div class="row pb-3 pr-4 justify-content-end">
                        <div class="pr-1"><button type="submit" name="batalTambah" class="bg-white border-dar rounded pt-1 pb-1 pl-3 pr-3">Batal</button></div>
                        <div><button type="submit" name="tambahPilot" class="bg-dark rounded text-light p-1">Tambah</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>