<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Halaman Utama </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar (pagetitle='Halaman Utama')"></nav>
    <div class="container pm pt-5 min-vh-100">
        <div class="pl-5"><h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2></div>
        <div class="pl-5"><a type="submit" th:href="@{/user/profil}">Lihat Profil</a></div>
        <div class="p-5 pm">
            <h1 class="p-5 text-center bg-dark text-light m-auto card">Selamat Datang di SIPAYROLL!</h1></div>
        <div class="justify-content-center">
            <div class="m-auto p-5">
                <div class="text-center m-auto col">
                    <div class="text-center pb-3"><h3>Daftar Fitur:</h3></div>
                    <div class="card-group row text-center">
                        <div class="pm pl-2 pr-2 col"><a type="submit" class="card text-decoration-none bg-dark text-light text-center m-auto pl-5 pr-5 pt-1 pb-2 rounded">Daftar Gaji</a></div>
                        <div class="pm pl-2 pr-2 col"><a type="submit" class="card text-decoration-none bg-dark text-light text-center m-auto pl-4 pr-4 pt-1 pb-2 rounded" th:href="@{/gaji/add}">Tambah Gaji</a></div>
                    </div><br>
                    <div class="card-group row text-center">
                        <div class="pm pl-2 pr-2 col"><a type="submit" class="card text-decoration-none bg-dark text-light text-center m-auto pl-4 pr-4 pt-1 pb-2 rounded">Daftar Lembur</a></div>
                        <div class="pm pl-2 pr-2 col"><a type="submit" class="card text-decoration-none bg-dark text-light text-center m-auto pl-4 pr-4 pt-1 pb-2 rounded" th:href="@{/lembur/add}">Tambah Lembur</a></div>
                    </div><br>
                    <div class="card-group row text-center">
                        <div class="pm pl-2 pr-2 col" sec:authorize="hasAuthority('Kepala Departemen HR')" ><a type="submit" class="card text-decoration-none bg-dark text-light text-center m-auto pl-3 pr-3 pt-1 pb-2 rounded" th:href="@{/user/add}">Tambah Pengguna</a></div>
                        <div class="pm pl-2 pr-2 col"><a type="submit" class="card text-decoration-none bg-dark text-light text-center m-auto pl-3 pr-3 pt-1 pb-2 rounded">Data Karyawan Lama</a></div>
                    </div><br>
                    <div class="card-group row text-center">
                        <div class="pm pl-2 pr-2 col"><a type="submit" class="card text-decoration-none bg-dark text-light text-center m-auto pl-4 pr-4 pt-1 pb-2 rounded" th:href="@{/bonus/add}">Tambah Bonus</a></div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>