<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Ubah Password </title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar (pagetitle='Ubah Password')"></nav>
    <div class="container pm p-5 text-center position-relative min-vh-100">
        <div class="shadow m-auto bg-white rounded w-75 card">
            <div class="card-header bg-dark text-light">Ubah Password</div>
            <div class="card-body text-left">
                <form th:action="@{/user/updatePassword}" method="POST">
                    <div class="row form-group">
                        <label class="col-sm-4">Password Lama:</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="oldpassword" placeholder="Masukan Password Lama">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Password Baru:</label>
                        <input type="password" name="password" class="col-sm-8 form-control input-sm" placeholder="Masukan Password Baru"/>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Konfirmasi Password Baru:</label>
                        <input type="password" name="confirmpassword" class="col-sm-8 form-control input-sm" placeholder="Masukan Kembali Password Baru"/>
                    </div>
                    <div class="row form-group justify-content-end">
                        <button type="submit" class="btn btn-dark">Simpan</button>
                    </div>
                </form>
                <div class="m-auto row text-danger font-weight-bold">
                    <div th:if="${hasMessage}" th:text="${message}"></div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>